<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login">
        <form method="POST" class="login_form">
            {% csrf_token %}
            <h2>Login</h2>
            <input type="text" placeholder="enter your username" name="username" required>
            <input type="password" placeholder="enter your password" name="password" required>
            <input type="submit" value="Log in" class="submit_btn">
            Don't have an account ? <a href="/register">Sign in</a>
        </form>
        {% for message in messages %}
            {% if message.tags == "success" %}
                <b style="color: green;">{{message}}</b>
            {% else %}
                <b style="color: red;">{{message}}</b>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>