<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{classroom.class_name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/{{classroom.join_code}}/display_class">Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="classwork">Classwork</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">People</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>
    <div class="teachers">
        <h5>Teachers</h5>
        <hr>
        {% for t in teachers %} 
            <div class="teacher_card">
                <h6>{{t.username}}</h6>
            </div>
        {% endfor %}
    </div>
    <div class="students">
        <h5>Students</h5>
        <hr>
        {% for s in students %} 
            <div class="student_card">
                <h6>{{s.username}}</h6>
            </div>
        {% endfor %}
    </div>
</body>
</html>