<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="post_assignment">
        <form method="POST" class="post_assignment_form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Create Assignment</h2>
            <input type="text" placeholder="Title" name="title" required>
            <input type="text" placeholder="Description" name="description" required>
            <input type="number" placeholder="Points" name="points" required>
            <input type="datetime-local" placeholder="" name="due" required>
            <input type="file" name="files" multiple>
            <input type="submit" value="Assign" class="assign_btn">
        </form>
    </div>
</body>
</html>